/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif, Inter, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue;
}
.montserrat {
  font-family: "Montserrat";
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.outOfView {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.inView {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.no-scroll {
  overflow: hidden;
}
.swiper-container-wrapper .swiper-slide {
  /* width: 70vw; */
  /* transform-origin: center; */
  transition: transform 0.5s;
  will-change: transform;
}

.swiper-slide-shadow-left {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.7)
  ) !important;
}

.swiper-slide-shadow-right {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.7)
  ) !important;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
